*.a
*.bundle
*.dll
*.dylib
*.dylib.E
*.exe
*.exp
*.lib
*.o
*.obj
*.pdb
*.res
*.sl
*.so
.fslckout
Makefile
autom4te.cache
config.cache
config.log
config.status
config.status.lineno
html
manifest.uuid
_FOSSIL_
*/versions.vc
*/version.vc
win/Debug*
win/Release*
win/*.manifest
win/nmakehlp.out
win/nmhlp-out.txt
