name: Linux
on: [push]
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        compiler:
          - "gcc"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Environment
        run: |
          curl https://core.tcl-lang.org/tclconfig/tarball/main/tclconfig.tar.gz >tclconfig.tar.gz
          tar xfz tclconfig.tar.gz
      - name: Configure (not really, just enough to do a "make dist")
        run: |
          sed s/@srcdir@/\./ <Makefile.in | sed s/@SHELL@/bash/ | sed s/@PACKAGE_NAME@/thread/ | sed s/@PACKAGE_VERSION@/9.0a1/ | sed "s/@INSTALL@/tclconfig\/install-sh/" | sed "s/@INSTALL_DATA_DIR@/tclconfig\/install-sh -d -m 755/" >Makefile
          touch config.status
      - name: Create Distribution Package
        run: |
          make dist || {
            echo "::error::Failure during Distribute"
            exit 1
          }
